<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Blue Shop</a>    

    
    <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
      {% if is_granted('ROLE_USER') %}
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/categoria">Categorias</a></li>
            <li><a class="dropdown-item" href="/produto">Produtos</a></li>
            <li><a class="dropdown-item" href="/pedidosgerais">Todos Pedidos</a></li>
          </ul>
        </li>
       {% endif %}
      <li class="nav-item col-6 col-lg-auto">
        <a href="/carrinho" class="btn btn-outline-light">
          <i class="fa fa-bell">
            <span class='badge badge-pill'>
              {{qtd_carrinho}}
            </span>
          </i>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
        </a>
      </li>
    
      <li class="nav-item col-6 col-lg-auto">
        {% if is_granted('ROLE_USER') %}
          <a class="btn btn-outline-light" href="/logout">sair</a>    
        {% else %}
          <a class="btn btn-outline-light" href="/login">login</a>  
        {% endif %}
      </li>
    </ul>
  </div>
</nav>