{% extends 'base.html.twig' %}

{% block title %}New Produto{% endblock %}

{% block body %}

<div class="container">

    <div class="row">
        <img src="{{ asset('banner/BlueShop.png') }}" alt="" >
    </div>

    <h1>Criar novo Produto</h1>

    {{ include('produto/_form.html.twig') }}

    <a href="{{ path('app_produto_index') }}">Voltar a lista</a>

</div>
{% endblock %}
