{% extends 'base.html.twig' %}

{% block title %}New Categoria{% endblock %}

{% block body %}

<div class="container">

    <div class="row">
        <img src="{{ asset('banner/BlueShop.png') }}" alt="" >
    </div>

    <h1>Criar nova categoria</h1>

    {{ include('categoria/_form.html.twig') }}

    <a href="{{ path('app_categoria_index') }}">back to list</a>

</div>
{% endblock %}
